/* 배경, 정렬 */
#mobile_wrap {
    background-color: #4000FF;
    width: 440px; height: 956px;
    text-align: center;
}

#mobile_wrap img {
    margin-top: 343px;
    margin-bottom: 30px;
}

/* 버튼 */
#mobile_wrap a {
    background-color: #00FF73;
    color: #fff;
    
    /* a 태그에 가로, 세로 입력 시 적용이 안 되는 이유는 a태그가 인라인 태그이기 때문 */
    /* 따라서 a태그를 css 속성을 이용하여 크기를 인식하는 블럭으로 변환 */
    display: inline-block;
    width: 120px; height: 40px;
    border-radius: 30px;/* 버튼 라운드 */
    line-height: 40px;

    /* 글꼴 */
    font-family: "pretendard", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
} 