#mobile_wrap {background-color: #4000FF;}

#mobile_wrap .photo {}
#mobile_wrap .photo img {}
#mobile_wrap h1 {color: #fff;}
#mobile_wrap h1 span {color: #00FF73;}

#mobile_wrap .introduce {}
#mobile_wrap .introduce .name_github {}
#mobile_wrap .introduce .name_github h2 {color: #fff;}
#mobile_wrap .introduce .name_github .git {color: #fff;}

#mobile_wrap .introduce .skill {color: #fff;}
#mobile_wrap .introduce .skill dt {}
#mobile_wrap .introduce .skill dd {}